In [3]:
import pandas as pd
import numpy as np

d = pd.DataFrame({'Mon': [68, 89, np.nan], 'Wed': [71, 93, 48], 'Fri': [66, 82, 104],
'Tue': [75, 97, 43], 'Thu': [62, np.nan, 89]}, index = ["day1","day2","day3"]).T

print(d)
d = d.reindex(index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri','Sat', 'Sun'], columns=['day3', 'day2', 'day1'])

print(d)

     day1  day2   day3
Mon  68.0  89.0    NaN
Wed  71.0  93.0   48.0
Fri  66.0  82.0  104.0
Tue  75.0  97.0   43.0
Thu  62.0   NaN   89.0
      day3  day2  day1
Mon    NaN  89.0  68.0
Tue   43.0  97.0  75.0
Wed   48.0  93.0  71.0
Thu   89.0   NaN  62.0
Fri  104.0  82.0  66.0
Sat    NaN   NaN   NaN
Sun    NaN   NaN   NaN

In [4]:

print(d.loc[['Tue','Thu'],['day3', 'day2']])

     day3  day2
Tue  43.0  97.0
Thu  89.0   NaN

In [5]:
print(d.mean(axis=1).round(3))

Mon    78.500
Tue    71.667
Wed    70.667
Thu    75.500
Fri    84.000
Sat       NaN
Sun       NaN
dtype: float64

In [6]:
d = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/ggplot2/mpg.csv')
print(d.groupby('manufacturer')['cty'].mean())

manufacturer
audi          17.611111
chevrolet     15.000000
dodge         13.135135
ford          14.000000
honda         24.444444
hyundai       18.642857
jeep          13.500000
land rover    11.500000
lincoln       11.333333
mercury       13.250000
nissan        18.076923
pontiac       17.000000
subaru        19.285714
toyota        18.529412
volkswagen    20.925926
Name: cty, dtype: float64

In [7]:
group = d.groupby(['cyl','drv']).size().unstack()
print(group)

drv     4     f     r
cyl
4    23.0  58.0   NaN
5     NaN   4.0   NaN
6    32.0  43.0   4.0
8    48.0   1.0  21.0
hello world